<launch>
  <!-- Launch file for Livox Mid-360 LiDAR -->

    <arg name="rviz" default="false" />

    <rosparam command="load" file="$(find online_mesh)/config/mid360.yaml" />

    <node pkg="online_mesh" type="fastlio_mapping" name="fastlio_mapping" output="screen"/>

    <node pkg="online_mesh" type="my_mesh" name="my_mesh" output="screen"/>

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find online_mesh)/rviz_cfg/my_lio.rviz" />
    </group>

</launch>
